@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Inter;
    padding: 0px;
    margin: 0px;
}

.links-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
}

.title-bar {
    width: 100%;
    background-color: #faf9f8;
    border-bottom: 1px solid #e5e7eb;
}

.title-span {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 30%;
}

.link-span {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e5e7eb;
    padding-top: 6px;
    color: black;
    text-decoration: none;
    font-size: 24px;
    height: 64px;
}

.link-span img {
    width: 64px;
    height: auto;
    display: block;
}

.link-span:hover {
    background-color: #faf9f8;
    color: #3f5db3;
}

.link-span p {
    height: auto;
    vertical-align: middle;
    margin-left: 10px;
}
